
.heading{
  background-color: blue;
  height: 100vh;
  width: 100%;
}
.text-section h6{
  color: rgb(207, 146, 31);
    margin-left: 80px;
  }
  .login-btn{
    width: 350px;
    height: 33px;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 10px;
    background-color: rgb(71, 69, 69);
    color: white;
    border: none;
  }
.login-container{
  background-image: url(image1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.box2{
  
  height: 450px;
  width: 500px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
 
}
#logo{
  height: 100px;
  width: 120px;
  margin-bottom: 10px;
}
.container2{
 
  height: 130vh;
  width: 100%;
  background-color: white;
  color: white;

  
}
.box2{
  
    width: 250px;
    background-color: rgb(27, 27, 56);
    height: 130vh;
    display: flex;
  flex-direction: column;
  }
  #logo2{
    margin-left: -180px;
    height: 70px;
    width: 100px;
  }
  h4{
    margin-top: -40px;
    margin-left: 50px;
    color: white;
  }
  .btn{
    color: white;
    background: none;
    margin-top: 15px;
  }
  .box4{
    background-color: rgb(215, 226, 226);
    height: 130vh;
    width: 90%;
    margin-left: 250px;
    margin-top: -805px;
  }
  .btnone{
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(16, 16, 43);
    color: white;
  }
  .box5{
    margin-top: 20px;
    height: 130px;
    margin-left: 40px;
    width: 480px;
    background-color: white;
  }
  .box6{
    margin-top: 30px;
    margin-left: 40px;
    height: 130px;
    width: 480px;
    background-color: white;
  }
   .box7{

    margin-top: -292px;
    height: 130px;
    margin-left: 600px;
    width: 450px;
    background-color: white;
  }
  .box8{
    margin-top: 32px;
    margin-left: 600px;
    height: 130px;
    width: 450px;
    background-color: white;
  }
  #logo3{
    margin-left: 30px;
    margin-top: 20px;
  }
  #logo4{
    margin-left: 30px;
    margin-top: 20px;
  }
  #logo5{
    margin-left: 30px;
    margin-top: 20px;
  }
  #logo6{
    margin-left: 30px;
    margin-top: 20px;
  }
  .box4 p{
    
      font-size: 30px;
      margin-left: 42px;
      margin-top: 10px;
      font-weight: bold;
      color: black;
      }
      .Searchbar{
        margin-left: 400px;
        margin-top: 28px;
        width: 500px;
        border-radius: 5px;
        display: flex;
        align-items: center;
      }
      h6{
        color: black;
        margin-left: 100px;
     
      }
      .box10{
        height: 200px;
        width: 62rem;
        margin-top: 20px;
        background-color: white;
        margin-left: 40px;
      }
  